html, body {
  height: 100%;
}

html{
  background-color: #111111;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  background-color: #555555;
  border: none;
  color: #aaaaaa;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}


button:hover {
  cursor: pointer
}