div.maze {
    width: 100%;
    height: 100%;
    display: grid;
}

div.maze .viewer-body {
    margin: auto;
    display: grid;
}

div.maze canvas {
    width: auto;
}

div.maze .section {
    margin: auto;
    padding: 10px
}

div.maze .action .btn {
    padding: 10px;
}